# Database
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=Decision_IS
DB_USER=postgres
DB_PASSWORD=changeme

# Consul
CONSUL_HOST=consul-server
CONSUL_PORT=changeme

# JWT
JWT_SECRET=change_this_secret_in_production

# FRONTEND
FRONTEND_URL=http://localhost:5500,http://127.0.0.1:5500,ORUCHANGE